.header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #465C86;
    border-bottom: 1px solid #f6f6f6;
    font-size: 20px;
}

.content {
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}
.logo:hover {
    color: #F2C29B;
}

.pawTrace {
    position: absolute;
    left: 130px;
    top: 0;
    color: #ffffff;
}
.logo:hover .pawTrace {
    color: #F2C29B;
}

.navigation {
    font-weight: 700;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.adoption {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cta {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-align: end;
}
.cta:hover {
    color: #F2C29B;
}

.click {
    position: absolute;
    left: -15px;
    top: 0;
    transform: rotate(90deg);
    color: #ffffff;
}
.cta:hover .click {
    color: #F2C29B;
}