.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
    width: 100%;
    padding: 1rem;
    font-size: 24px;
}

.navLinks {
    display: flex;
    gap: 20px;
}