.button {
    position: relative;
    background-color: #C3CACE;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #2B3134;
}