.button {
    width: 100%;
    min-width: 120px;
    min-height: 40px;
    background-color: #333;
    color: #F9F9F9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;

}
.button:hover {
    background-color: #3c3c3c;
    color: #F9F9F9;
}