.section {
    min-width: 400px;
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    box-sizing: border-box;
    background-color: #F9F9F9;
}

.animals {
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #465C86;
}

/*not found -------------------------------- */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #F9F9F9;
    font-family: "Verdana", sans-serif;
    color: #2B3134;
    padding: 30px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.error {
    font-size: 100px;
    font-weight: bold;
}

.message {
    font-size: 32px;
    margin: 1rem 0;
}

@media (max-width: 900px) {
    .error {
        font-size: 80px;
    }

    .message {
        font-size: 24px;
    }
}

@media (max-width: 600px) {
    .wrapper {
        min-height: 100%;
        min-width: 400px;
    }

    .error {
        font-size: 60px;
    }

    .message {
        font-size: 18px;
        margin: 0.5rem 0;
    }
}