.section {
    min-width: 320px;
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    box-sizing: border-box;
    background-color: #F9F9F9;
}

/*not found -------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 1rem;
    background-color: #f8f8f8;
}

.code {
    font-size: 6rem;
    font-weight: bold;
    color: #465C86;
    margin: 0;
}

.message {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #333;
}

.link {
    font-size: 1rem;
    color: #465C86;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease;
}

.link:hover {
    border-color: #333;
}

/*error ----------------------------------- */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 1rem;
    background-color: #f8f8f8;
}

.code {
    font-size: 6rem;
    font-weight: bold;
    color: #465C86;
    margin: 0;
}

.message {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #333;
}
