.animalsWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.notification {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 90%;
    padding: 12px 24px;
    background-color: #D89D5B;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    animation: fadeInOut 5s ease-in-out forwards;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 20px;
}

.errorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #F9F9F9;
    font-family: "Verdana", sans-serif;
    color: #2B3134;
    padding: 30px;
}
.errorTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.errorContent {
    font-size: 100px;
    font-weight: bold;
}
.errorMessage {
    font-size: 32px;
    margin: 1rem 0;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
    10% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}

@media(max-width: 900px) {
    .errorContent {
        font-size: 80px;
    }
    .errorMessage {
        font-size: 24px;
    }
}

@media(max-width: 600px) {
    .animalsWrap {
        min-width: 400px;
    }

    .errorContent {
        font-size: 60px;
    }
    .errorMessage {
        font-size: 18px;
        margin: 0.5rem 0;
    }
}