.controls {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.picker {
}

.picker .input {
    display: none;
}

.picker .button {
    flex: 1;
    padding: 0.5rem;
    font-size: 0.95rem;
    font-weight: 600;
    color: white;
    background-color: #C3CACE;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.picker .button:hover {
    background-color: #2B3134;
}

.preview {
    width: 220px;
    height: 160px;
    border: 2px solid #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
    position: relative;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.preview p {
    margin: 0;
    padding: 1rem;
    font-size: 18px;
}

.preview img {
    object-fit: cover;
}

.preview:hover {
    cursor: pointer;
    background-color: #F9F9F9;
}