.card {
    min-width: 320px;
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    box-sizing: border-box;
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.info {
    flex: 2;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.info h1 {
    margin: 0;
    font-size: 2rem;
    color: #222;
}

.info p {
    margin: 0;
    font-size: 1.1rem;
    color: #444;
    line-height: 1.5;
}
