.wrapper {
    padding: 20px;
    background-color: #fefefe;
    border-radius: 4px;
    min-width: 400px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    cursor: default;
}

.title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #333;
}

.form label {
    color: #333;
    font-size: 18px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.name {
    width: 75%;
}

.lastRow {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.field label {
    padding: 10px 0;
}

.inputForm {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    height: 42px;
}
.inputForm:focus {
    border-color: #465C86;
}

.fieldRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.fieldRow label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0;
}

.textAreaForm {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    width: 100%;
    max-width: 600px;
    min-height: 60px;
    max-height: 60px;
    resize: vertical;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.pending {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 16px;
}

.status {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #ff0000;
    text-align: center;
}