.about {
    display: flex;
}

.content {
    display: flex;
    width: 100%;
    height: 507px;
    justify-content: center;
    align-items: center;
}

.text {
    padding: 50px;
    flex: 60%;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    color: #465C86;
    padding-bottom: 20px;
}

.paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.paragraph p {
    padding: 20px 0;
}

.subparagraph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #333;
}

.icon {
    width: 28px;
    height: 28px;
}

.image {
    flex: 40%;
    height: 100%;
    position: relative;
}

.image :global(img) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 900px) {
    .content {
        flex-direction: column;
        height: auto;
    }

    .image {
        width: 100%;
        height: 300px;
        flex: none;
    }

    .text {
        padding: 30px 20px;
        width: 100%;
        flex: none;
    }

    .text p {
        font-size: 20px;
        padding-bottom: 0;
    }
}


@media (max-width: 600px) {
    .heading {
        font-size: 24px;
        height: 70px;
    }

    .image {
        height: 200px;
    }

    .text {
        padding: 20px 15px;
    }

    .text p {
        font-size: 18px;
        padding-bottom: 0;
    }
}